@using lab4.BL.ViewModels;
@using lab4.DAL.Models;

@model TicketAddVM;



<a asp-action="Index">Back to list of tickets</a>

<form asp-action="Add" method="post">

	<div class="form-group">
		<label asp-for="Title"></label>
		<input class="form-control" asp-for="Title" />
	</div>
	<br />

	<div class="form-group">
		<label asp-for="Description"></label>
		<input class="form-control" asp-for="Description" />
	</div>
	<br />

	<div class="form-group">
		<label asp-for="Severity"></label>
		<select asp-for="Severity" asp-items="Html.GetEnumSelectList<Severity>()"></select>
	</div>
	<br />

	<div class="form-group">
		<button class="btn btn-dark"> Submit </button>
	</div>
</form>
